            </div> <!--.content role=main -->
        </div><!-- .container -->

    <!-- [% INCLUDE 'debug_footer.html' %] -->
    </body>
    <script type="text/javascript" src="[% version('/js/bootstrap.js') %]"></script>
    <script type="text/javascript" src="[% version('/js/jquery.responsiveText.js') %]"></script>
    <script type="text/javascript" src="[% version('/js/pormibarrio-main.js') %]"></script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxhs0JpSQD2RP8h9tcWIIOuubCEdsFNwU&callback=initMap">
    </script>
</html>
