#Modo mantenimiento
RewriteEngine On
#RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000 #Habilitar IP
RewriteCond %{DOCUMENT_ROOT}/mantenimiento.html -f
RewriteCond %{DOCUMENT_ROOT}/mantenimiento.habilitado -f
RewriteCond %{SCRIPT_FILENAME} !mantenimiento.html
RewriteRule ^.*$ /mantenimiento.html [R=503,L]
ErrorDocument 503 /mantenimiento.html
Header Set Cache-Control "max-age=0, no-store"
#Fin modo mantenimiento



# Do the regex check against the URI here, if match, set the "require_auth" var
SetEnvIf Request_URI ^/admin require_auth=true

# Auth stuff
AuthUserFile /home/datauy/fixmystreet/.htpasswd
AuthName "Password Protected"
AuthType Basic

# Setup a deny/allow
Order Deny,Allow
# Deny from everyone
Deny from all
# except if either of these are satisfied
Satisfy any
# 1. a valid authenticated user
Require valid-user
# or 2. the "require_auth" var is NOT set
Allow from env=!require_auth



